<html>
	<head>
		<meta charset="utf-8">
		<title>Ingest Result</title>
	</head> 
	<body>
		<table border=1>
			<tr>
				<th>Ingest Status</th>
				<th>Received</th>
				<th>Written</th>
			</tr>
			<tr>
				<td>${status}</td>
				<td>${received}</td>
				<td>${written}</td>
			</tr>
		</table>
	</body>
</html>